*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



html
{
   background-image: linear-gradient(rgba(88, 88, 88, 0.007)),url(./);
   background-color: black;
}

.nav{

 display: flex;
justify-content: space-between;
align-items: center;
}

.logo h4
{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 8px #db9209;
}

.logo 
{
    margin-left: 20px;
}

h4 span
{
    color:red;
    border-bottom: 2px solid;
}

.menu
{
    display: flex;
    gap: 18px;
    margin-top: 10px;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 800;
    text-transform: capitalize;
    color: white;
}

.butt  button
{
    background-color: red;
    border: 0px;
    padding: 8px 18px;
    margin-top: 12px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-left: 60px;


}


